/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

/* Utils */
button {
	background-color: transparent;
	border: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

/* Header */
.reel-header {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	gap: 70px;
	height: 7vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.header-btn {
	font-size: 24px;
	color: #fff;
}

.header-menu {
	display: flex;
	translate: 0 -3px;
	gap: 15px;
	font-size: 18px;
}

.header-menu a {
	color: rgba(255, 255, 255, 0.5);
}

.header-menu li {
	position: relative;
}

.header-menu li:last-child a {
	color: #fff;
}

/* Bonus */
.header-menu li:last-child::after {
	content: "—";
	color: #fff;
	position: absolute;
	font-size: 28px;
	font-weight: 500;
	bottom: -20px;
	right: 10px;
}

header li:nth-child(2)::after {
	content: "•";
	color: rgba(255, 65, 65, 0.5);
	font-size: 26px;
	position: absolute;
	bottom: 10px;
	right: -10px;
}

/* Sidebar */
.sidebar {
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	width: 80px;
	text-align: center;
	font-size: 12px;
}

.sidebar button {
	color: #fff;
	font-size: 32px;
}

.profile-btn {
	translate: -3px -10px;
	height: 50px;
	width: 50px;
	border: 2px solid #fff;
	border-radius: 50%;
	background-image: url(../assets/img/boolean_logo.png);
	background-size: contain;
	position: relative;
}

/* Bonus */
.profile-btn::after {
	content: "+";
	width: 25px;
	height: 25px;
	font-size: 24px;
	color: #fff;
	background-color: rgb(255, 60, 60);
	border-radius: 50%;
	position: absolute;
	bottom: -15px;
    right: 11px;
}

/* Description */
.description {
	color: #fff;
	position: absolute;
	left: 15px;
	bottom: 100px;
	max-width: 75%;
}

.publisher {
	margin-bottom: 5px;
}

/* Footer */
footer {
	position: relative;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	height: 10vh;
	font-size: 28px;
    text-align: center;
}

.home  * {
	color: #fff;
}

.nav-item {
	flex: 1 1 0;
}

.footer-nav a {
	color: rgba(255, 255, 255, 0.5);
}

.nav-item > span {
	font-size: 12px;
	display: block;
}

.nav-item .add-square {
	line-height: 30px;
	height: 35px;
	translate: 0 -7px;
	margin: 0 auto;
	width: 45%;
	color: #000;
	background-color: #fff;
	border-radius: 10px;
}

/* bonus */
.nav-item .add-square {
	box-shadow: -3px 0px 1px #19FFFF, 3px 0 1px #FF00FF;
}

.mail {
	position: relative;
}

.mail > a::after {
	content: "19";
	color: #fff;
	padding: 1px 5px;
	background-color: rgb(255, 60, 60);
	border-radius: 10px;
	font-size: 12px;
	position: absolute;
	right: 25px;
}

/* extra */
.header-menu a:hover {
	color: #fff;
}

.footer-nav li:hover > a {
	color: #fff;
}