/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

button {
	background-color: transparent;
	border: none;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

/* Header */
.reel-header {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	gap: 70px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.header-btn {
	font-size: 24px;
	color: #fff;
}

ul {
	translate: 0 -5px;
	gap: 5px;
	list-style: none;
	display: flex;
}

a {
	text-decoration: none;
	color: #fff;
}

/* Sidebar */
.sidebar {
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	width: 80px;
	text-align: center;
	font-size: 14px;
}

.sidebar button {
	color: #fff;
	font-size: 32px;
}

.profile-btn {
	translate: -3px;
	height: 50px;
	width: 50px;
	border: 2px solid #fff;
	border-radius: 50%;
	background-image: url(../assets/img/boolean_logo.png);
	background-size: contain;
}

/* Footer */
footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

.debug {
	border: 2px solid red;
}

/* --------------------- */
