/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

/* Utils */
button {
	background-color: transparent;
	border: none;
}

ul {
	list-style: none;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

/* Header */
.reel-header {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	gap: 70px;
	height: 7vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.header-btn {
	font-size: 24px;
	color: #fff;
}

header ul {
	display: flex;
	translate: 0 -5px;
	gap: 5px;
}

a {
	text-decoration: none;
	color: #fff;
}

/* Sidebar */
.sidebar {
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	width: 80px;
	text-align: center;
	font-size: 12px;
}

.sidebar button {
	color: #fff;
	font-size: 32px;
}

.profile-btn {
	translate: -3px;
	height: 50px;
	width: 50px;
	border: 2px solid #fff;
	border-radius: 50%;
	background-image: url(../assets/img/boolean_logo.png);
	background-size: contain;
}

/* Footer */
footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
}

.description {
	max-width: 75%;
	padding: 15px;
}

.publisher {
	margin-bottom: 5px;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	height: 10vh;
	font-size: 28px;
    text-align: center;
}

li {
	flex: 1 1 0;
}

li > span {
	font-size: 12px;
	display: block;
}

li .add-square {
	line-height: 30px;
	height: 35px;
	translate: 0 -7px;
	margin: 0 auto;
	width: 45%;
	color: #000;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: -3px 0px 1px #19FFFF, 3px 0 1px #FF00FF;
}